<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="Index.css">
</head>
<body>
<div class="logo">
  <a th:href="@{'/'}">
    <img src ="420Logo.png" height="100" width="210" alt="" style="position: absolute; top: 2%; left: 2%;">
  </a>
</div>
<canvas id="gradient-canvas" data-js-darken-top data-transition-in></canvas>
<div class="form-container">
  <form id="form" action="/updateProduct" method="post" style="position: absolute; top: 5%;">
    <h3 class="gradient-text">Update product</h3>
    <label>Name</label>
    <input type="text" name="name" th:value="${product.name}"> <br>
    <label>Price</label>
    <input type="number"  name="price" th:value="${product.price}"> <br>
    <input type="hidden" name ="id" th:value="${product.id}">
    <input type="submit" value="Update">

  </form>
</div>



<script src="gradient.js"></script>
</body>
</html>